* {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--color-copy);
}

body {
    margin: 0;
  /*  padding-top: 7.75rem; */ /* usando em combinação .navbar { height: 7.75rem; } para tirar (empurrar) o condeudo debaixo da .navbar */
}

header,
main,
footer { /* resolvendo a bara branca que aparece na lateral direira ao diminuir a largura da pagina*/
    overflow: hidden;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto; /* para alinhar o conteudo no centro */
}

.logo-studion {
    font-weight: 900; /* peso da fonte */
    text-transform: uppercase;
    text-align: right;
    font-size: 2.375rem;
    line-height: 1ch; /* relativo ao tamanho da alturar do glifo 0 da fonte */
}

.logo-studion__subtitle {
    font-size: .875rem;
    font-weight: 300;
   /* float: right; *//* o texto não alinhou a direita com o "text-align: right;" */
}

.logo-studion a {
    text-decoration: none;
    color: #fff;
}
