#slider {
    background-color: #000;
    color: #fff;
}

.slide {
    position: relative; /* declarado esse atributo para que o ".slide__copy {" fique preso ao ".slide{}" */
    height: 90vh; /* height: calc(90vh - 7.75rem); //mudado// feito isso para pegar todo o espaço disponivel na tela (100vh é o altura total do viewport(area visivel no navegador) .navbar { height: 7.75rem;} )*/
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* object-fit -> é uma propriedade nova do CSS */
    object-position: center;
}

.slide__copy {
    position: absolute;
    left: 50vw;
    top: 6.25rem;
}

.slide__copy h6 {
    font-size: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1875rem;
}

.slide__copy h2 {
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}

.slide__copy h2 span {
    display: block;
}

#counter{
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
}

.counter__container {
    display: grid; /* mudadno a propriedade para grig*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* "repeat(auto-fill, minmax(300px, 1fr));" "repeat(auto-fill" repete conforme a nescessidade, "minmax(300px, 1fr)" tamanho minimo e maximo *//* "1fr 1fr 1fr;" dizendo que será dividido em 3 partes de mesmo tamanho */ /* auto-fill -> vai criar novas colunas com o tamanho definido par preecher a aresa; auto-fit -> vai preencher a area almentando a largura das conlunas e mantanda a quantidade de conlunas definidas */
    place-items: center;
    padding: 4.375rem 1rem;
}

.counter__container h3 {
    font-size: 2.25rem;
}

.counter__container h3 small {
    display: block;
    font-size: 1.25rem;
}

.institutional {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.125rem;
    align-items: center;
    padding: 4.375rem;
}

.institutional__image {
    max-width: 570px;
}

.institutional__copy {
    padding: 0 1.857rem;
}

.institutional__copy h6 {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0;
}

.institutional__copy h4 {
    font-size: 1.5625rem;
    margin-top: 1rem;
}

.institutional__copy p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    margin-bottom: 0; /* zerando a margem padrão do html */
    margin-bottom: 2.5rem; /* aplicando a magem desajada */
}

.quote {
    background-image: url(../images//parallax.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quote__container {
    display: grid;
    align-items: center;
    justify-items: end;
    min-height: 80vh;
}

.quote__copy {
    background-color: #fff;
    padding: 5.625rem 4.375rem;
}

.quote__copy h6 {
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: 0.1875rem;
    line-height: 1.4375rem;
    max-width: 55ch;
    text-transform: uppercase;
    margin: 0;
}

.quote__copy h2 {
    font-size: 5rem;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: -0.1875rem;
    margin: 1.875rem 0;
}

.quote__copy h2 span {
    display: block; 
}
