.navbar {
    position: absolute;
    z-index: 1; /* usado em combinação com ".slide { position: relative; }" e ".slide__copy { position: absolute; }" */
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: #000;*/
    /* vermelho / verde /  azul / transparênte - 0 - F */
    color: #fff;
}

.navbar__container{
    /* o conteudo foi movido da navbar para essa nova classe */
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    font-size: 0.875rem;
    margin-right: 3rem;
    /* rem pega o tamanho da fonte definido no root da pagina, por padrão nos navegadores o tamanho da fonte é 16px ### para por o tamanho equivalente em px para rem divide o valor em px desejada por o valor do rem ex: px/rem_padrao 10/16 = */
    text-transform: uppercase;
}

.navbar__links a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.navbar__links a.active {
    color: var(--color-primary); /* criado a classe "active" no link para mostrar ao usuario em qual pagina ele está no momento */
}

.navbar__links a:hover {
    color: var(--color-primary);
}
